body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.invoice-full {
    width: 95%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.company-adress{

    text-align: left;
    font-weight: bold;
}
.logo {
    max-width: 150px;
}


.footer {
    text-align: left;
    margin-top: 10px;
}

.stamp {
    max-width: 150px;
}

.total-left-head{
    font-weight: bold;
}



.invoice {
    margin: auto;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .invoice-header {
    display: flex;
    flex-direction: column;
}

.invoice-date {
    text-align: left;
    font-weight: bold;
}

.invoice-number {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
}

.client-info {
    text-align: center;
    font-weight: normal;
    line-height: 1.5;
}

  
  .invoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .invoice-table th,
  .invoice-table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
  }
  
  .invoice-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .totals {
    display: flex;
    justify-content: space-between;
  }
  
  .totals .left,
  .totals .right {
    width: 48%;
  }
  
  .totals table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .totals td {
    padding: 5px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .totals .total {
    font-weight: bold;
    background-color: #f5f5f5;
  }
 

.totals-header {
    font-weight: bold;
    background-color: #f5f5f5;
}
